<%= form_for(:admin, :url => {:controller => 'admins', :action => 'updatepassword'}) do |f|%>
	<p> Password:</br> <%= f.password_field :password%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
    <%= f.submit %>
<% end %>