<h1>Recover password</h1>

<%= form_tag lostpassword_admins_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p class="button"><%= submit_tag "Get password" %></p>
<% end %>