<div>
	<p> Administrator details </p>
	<div>
		<ul>
			<li>Username : <%= @admin.username %></li>
			<li>Email : <%= @admin.email %></li>
			<!-- <li>Password : <%= @admin.password %></li> -->
		</ul>
	</div>
</div>