<table>
  <tbody>
  <tr>
    <th>Payment Date:</th>
    <th>Payment Ammount:</th>
    <th>Payment Description:</th>
  </tr>
 
  <tr>
    <td><%= payment.payment_date %></td>
    <td><%= payment.payment_amount %></td>
    <td><%= payment.payment_desc %></td>
  </tr>
</tbody>
</table>